@model EnrollmentManager.UI.Models.LoginViewModel
@using Microsoft.AspNet.Identity

<div class="fun-facts">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-content" >
                    @if (Request.IsAuthenticated)
                    {
                        <h1>Welcome, @User.Identity.GetUserName()!</h1>
                        <br />
                        if (User.IsInRole("Admin"))
                        {
                            <p>Your Admin Status grants you access to all Site Tables. If you need assistance with a Table not found on this site, please reach out to the database manager.</p>
                        }
                        else
                        {
                            <p>Your User Status grants you access to Enrollments, Classes, and Students. If you need assistance with another Table, please contact a site administrator.</p>
                        }

                    }
                    else
                    {
                        <section id="loginForm">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h4>Use a local account to log in.</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Log in" class="btn btn-default" />
                                    </div>
                                </div>
                                <p>
                                    @Html.ActionLink("Register a new user?", "Register")
                                </p>
                                <p>
                                    @Html.ActionLink("Forget your password?", "ForgotPassword")
                                </p>
                            }
                        </section>
                    }

                </div>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="row">
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">@ViewBag.Students</div>
                            <div class="count-title">Students</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">@ViewBag.Courses</div>
                            <div class="count-title">Courses</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">@ViewBag.Classes</div>
                            <div class="count-title">Classes</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">@ViewBag.Enrollments</div>
                            <div class="count-title">Enrollments</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>